<!-- Resources -->
<h2>Data Flows</h2>
<p>This demo shows a number of data flows available in Angular.</p>

<div class="card-container">
  <a class="card" routerLink="/events">
    <span>Events</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>
  <a class="card" routerLink="/function">
    <span>Function</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>
  <a class="card" routerLink="/signal">
    <span>Signal</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>
  <a class="card" routerLink="/observable">
    <span>Observable</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>

</div>

<!-- Footer -->
<footer>
  <a href="https://github.com/fknipp/angular-dataflows" target="_blank" rel="noopener">Open GitHub repository.</a>
</footer>